<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <label class="col-md-3 text-right">Ref. : </label>
                            <label class="col-md-9 text-left">{{product.reference}}</label>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right">Description : </label>
                            <label class="col-md-9 text-left">{{product.description}}</label>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right">Price HT : </label>
                            <label class="col-md-9 text-left">{{product.priceHT | currency}}</label>
                        </div>
                        <div class="row">
                            <label class="col-md-3 text-right">Price TTC : </label>
                            <label class="col-md-9 text-left">{{product.priceHT * 1.2 | currency}}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" ng-src="{{product.image}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-8">
        <a href="#!/product" class="btn btn-info btn-block">Back to list of products</a>
    </div>
</div>