<h1>{{title}}</h1>

<div ng-show="status != 200" class="alert alert-danger" role="alert">{{status}}</div>

<div class="animate-switch-container" ng-switch on="stateWait">
    <div class="animate-switch" ng-switch-when="true">
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped" ng-style="size">
            </div>
        </div>
    </div>
    <div class="animate-switch" ng-switch-when="false">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>IdProduct</th>
                    <th>Ref.</th>
                    <th>Price HT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               <tr my-row ng-repeat="prod in products track by $index" prod="prod" on-details="onDetails(prod.idProduct)"></tr>
            </tbody>
        </table>
    </div>
</div>


<ul ng-hide="status != 200" uib-pagination direction-links="false"  
    total-items="totalItems"  
    ng-change="pageChanged()" 
    ng-model="currentPage" 
    items-per-page="itemsPerPage">
</ul>

